@import './../../../../mixins.scss';

.timeline-wrapper {
    .left-timeline {
        
        padding-right: 10px;
        padding-left: 10px;
        width: 900px;
        span {
            font-size: 14px;
            font-weight: 600;
            color: var(--text-light);

        }
        .wrapper-timeline-dates {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .date-box{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;
                padding: auto;
                
                .reset-date-btn{
                    background: var(--color-07);
                    border: 0;
                    border-radius: 20px;
                    padding: 5px 10px;
                    margin-right: 10px;
                    cursor: pointer;
                    font-size: 12px;
                    font-weight: 600;
                    color: var(--text-light);
                    outline: none;
                }
                .datepicker-timeline {
                    height: 35px;
                    border: 0 !important;
                    outline: none !important;
                    border-radius: 20px;
                    background: var(--color-07) !important;
                    
                    .ant-picker-suffix {
                        display: none;
                    }
                    
                    input {
                        text-align: center;
                        font-size: 12px !important;
                        font-weight: 600;
                        width: 100px;
                        padding-top: 2px;
                    }
                    
                    .ant-picker-clear {
                        display: none;
                    }
                }
            }

            @media screen and (max-width: 768px)
            {
                .left-timeline {
                    padding: 0;
                    width: 900px;
                }
                
                .datepicker-timeline {
                    margin: 5px;
                }
            }
        }

        .timeline-wrapper-main {
            max-height: calc(100vh - 295px);
            overflow: auto;
            padding: 18px 10px;

            .xem-timeline {
                @include xem-timeline;
            }
            
            .timeline-content{
                .timeline-content-title{
                    text-align: justify;
                    font-size: 14px;
                    font-weight: 600;
                }
                .timeline-content-date{
                    display: flex;
                    justify-content: center;
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-light);
                    text-align: center;
                }

            }

            .no-data-found {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                font-size: 14px;
                font-weight: 600;
                text-align: center;
            }

            .loader {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
            }

            @media screen and (max-width: 1024px) {
                max-height: none;
                overflow: visible;
                width: 100%;
            }
        }
        
        @media screen and (max-width: 690px) {
            width: 100%; /* Occupy full width */
            .left-timeline {
                padding: 0;
            }
            .date-box {
                flex-direction: column; /* Display date pickers vertically on smaller screens */
                align-items: center; /* Center items horizontally */
            }
        
            .reset-dates-btn {
                margin-top: 10px; /* Increase margin for better spacing */
            }
        }
    }

    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
        backdrop-filter: blur(8px); /* Apply blur effect to the background */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000; /* Ensure the modal appears above other content */
    }
    
    .popup-container {
        background-color: white; /* Background color of the popup */
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
        padding: 20px;
        width: 80%; /* Adjust the width as needed */
        height: auto; /* Set height to auto */
        max-width: 500px; /* Maximum width of the popup */
        z-index: 1100; /* Ensure the popup appears above the overlay */
        position: relative; /* Ensure positioning relative to the overlay */
        overflow: auto; /* Enable scrolling if content exceeds viewport height */
        
    }
    
    .popup-content {
        /* Styles for content area */
        max-height: 400px; /* Set a fixed height for the content area */
        overflow-y: auto; /* Enable vertical scrolling */
        padding: 20px; /* Adjust padding as needed */
    }
    
    .close-popup {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    
    

        h4 {
            font-size: 14px;
            font-weight: 600;
            margin: 0 0 15px 0;
            text-align: center; // Center align the h4 title
        }

        .scroll-content-details {
            text-align: justify; // Align the div justify
            padding: 0 10px; // Adjust padding as needed
        }

        p {
            font-size: 13px;
            padding-left: 20px;
            position: relative;

            &:before {
                width: 8px;
                height: 8px;
                border: 2px solid var(--text-light);
                content: '';
                position: absolute;
                left: 2px;
                top: 5px;
                border-radius: 10px;
            }
        }
    }

    .close-popup {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .right-timeline {
        .content-timeline {
            background: var(--color-07);
            border-radius: 10px;

            h4 {
                font-size: 14px;
                font-weight: 600;
                margin: 0 0 15px 0;
                text-align: center; // Center align the h4 title
            }

            .scroll-content-details {
                max-height: calc(100vh - 295px);
                overflow: auto;
                padding-right: 10px;
            }

            p {
                font-size: 13px;
                padding-left: 20px;
                position: relative;

                &:before {
                    width: 8px;
                    height: 8px;
                    border: 2px solid var(--text-light);
                    content: '';
                    position: absolute;
                    left: 2px;
                    top: 5px;
                    border-radius: 10px;
                }
            }
        }
    }
